.yardtp-timepicker {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-bottom: 0.5em;

    label > button {
        @include time-buttons;

        width: 100%;
        min-height: $minButtonHeight;
    }

    div {
        @include time-display;
        padding-top: 0.15em;
        height: 2em;
    }
}

.yardtp-datepicker {

    min-width: 280px;

    .calendar-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: $calendarCellMargin;
        grid-auto-rows: minmax(1em, auto);
        margin-bottom: 0.5em;

        @for $i from 1 to 7 {
            .day-#{$i} {
                grid-column: $i;
            }
        }
    
        @for $i from 1 to 6 {
            .week-#{$i} {
                grid-row: $i;
            }
        }

        .day {
            @include day;

            min-height: 3em;
            margin: 0;
        }

        .day.out-of-range {
            @include out-of-range;
        }

        .day.previous-month {
            @include previous-month;
        }
        
        .day.next-month {
            @include next-month;
        }

        .day.present {
            @include present-day;
        }
    
        .day.selected {
            @include selected-day;
        }
    }

    .day-name-headings {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: $calendarCellMargin;
        grid-auto-rows: minmax(1em, auto);

        h4 {
            @include day-name-heading;
        }
    }

    .month-select {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        margin-bottom: 0.5em;

        label > button {
            @include month-year-buttons;

            width: 100%;
            min-height: $minButtonHeight;
        }
        
        h3 {
            @include month-year-heading;
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}